<div class="footer">
    <div class="top-wrapper">

        <div class="footer-top">

            <footer-card class="footer-card full-screen-view-on-mobile" [title]="'Kullanıcı'"
                [buttonText]="'Üye Girişi'">
            </footer-card>

            <footer-card class="footer-card full-screen-view-on-mobile" [title]="'Kullanım'"
                [content]="['İş İlanları' ,'Bireysel Üyelik (aday)']">
            </footer-card>

            <span class="media-view-container">

                <footer-card class="footer-card-media" [title]="'Kurumsal'"
                    [content]="['İletişim & Hakkımızda', 'Kullanım Şartları', 'Gizlilik' , 'Veri Politikamız' ,'Aydınlatma Metni']">
                </footer-card>

                <footer-card class="footer-card-media" [title]="'Sosyal Medya'">
                    

                </footer-card>




            </span>

        </div>
        <div class="footer-body">



        </div>
    </div>

    <div class="bottom-wrapper">
        <div class="footer-bot">
            <div class="link-container">


            </div>
            <p>
                © iş ilanı 2022
            </p>
        </div>
    </div>
</div>